
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
}

.view {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#define {
	display: none;
}

.image_card {
}

.image_card canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#view_browse_comb {
	display: block;
}

#view_browse_comb #footer {
	position: absolute;
	width: 100%;
	min-width: 300px;
	height: 70px;
	background: #333333;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
}

#view_browse_comb #footer.in {
	opacity: 0.7;
	top: 100%;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

#view_browse_comb #footer.out {
	opacity: 0.1;
	top: 100%;
}

#view_browse_comb #footer #icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 160px;
	height: 100%;
}

#view_browse_comb #footer #icon #btn_open_linkers {
	display: block;
	position: absolute;
	width: 100px;
	height: 60px;
	left: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 1px 1px;
	background-position: center center;
	background-color: transparent;
	background-size: 100%;
	border-width: 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#view_browse_comb #footer hr {
	display: block;
	position: absolute;
	left: 120px;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0.8;
}

#view_browse_comb #footer #actions {
	display: block;
	position: absolute;
	left: 140px;
	top: 0;
	right: 0;
	height: 100%;
}

#view_browse_comb #footer #actions ul {
	display: block;
	position: absolute;
	list-style: none;
	width: 100%;
	height: 100%;
}

#view_browse_comb #footer #actions ul li {
	display: inline-block;
	height: 100%;
	float: left;
	margin-right: 10px;
}

#view_browse_comb #footer #actions ul li #btn_open_waggles {
	display: block;
	width: 48px;
	height: 48px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	background-color: transparent;
	background-image: url(../img/plus.png);
	background-size: cover;
	border-width: 0px;
}

#view_browse_comb #footer #linker_list {
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
	border-width: 0px;
	border-radius: 2px;
	background-color: #e7e6dd;
}

#view_browse_comb #footer #linker_list.in {
	display: block;
	top: 100%;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

#view_browse_comb #footer #linker_list.out {
	display: block;
	top: 100%;
}

#view_browse_comb #footer #linker_list #guide {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	font-family: "微软雅黑";
	font-weight: 700;
	font-size: 16px;
	color: #f4b400;
}

#view_browse_comb #footer #linker_list .linker {
	height: 80px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}

#view_browse_comb #footer #linker_list .linker a {
	display: block;
	position: absolute;
	width: 100%;
	height: 80px;
	text-decoration: none;	
}

#view_browse_comb #footer #linker_list .linker a .linker_icon {
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	left: 5px;
	top: 8px;
	background-size: cover;
	border-width: 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#view_browse_comb #footer #linker_list .linker a .linker_title {
	display: block;
	position: absolute;
	left: 80px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	font-family: "微软雅黑";
	font-weight: 800;
	font-size: 18px;
	color: #000000;
}

#view_browse_comb #footer #linker_list .linker a .linker_description {
	position: absolute;
	left: 80px;
	top: 40px;
	width: 150px;
	height: 35px;
	overflow: hidden;
	font-family: "微软雅黑";
	font-weight: 600;
	font-size: 10px;
	color: #999999;
}

#view_browse_comb #footer #linker_list .linker a .linker_popularity {
	position: absolute;
	right: 5px;
	width: 200px;
	height: 80px;
	line-height: 80px;
	font-family: "微软雅黑";
	font-weight: 600;
	font-size: 10px;
	color: #999999;
	overflow: hidden;
}

#view_browse_comb #footer #linker_list .linker a .linker_popularity span {
	font-family: "微软雅黑";
	font-weight: 800;
	font-size: 24px;
	color: #0f9d58;
}

#view_browse_comb #footer #linker_list #close {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 8px;
	color: #333333;
	text-align: center;
}

#view_browse_comb #footer #input_images {
    position: absolute;
    z-index: 2;
    display: none;
}

#view_browse_comb #footer #input_videos {
    position: absolute;
    z-index: 2;
    display: none;
}

#view_browse_comb #footer #waggle_list {
	list-style: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
	border-width: 0px;
	border-radius: 2px;
	background-color: #e7e6dd;
}

#view_browse_comb #footer #waggle_list.in {
	display: block;
	top: 100%;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

#view_browse_comb #footer #waggle_list.out {
	display: block;
	top: 100%;
}

#view_browse_comb #footer #waggle_list li {
	height: 80px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}

#view_browse_comb #footer #waggle_list li a {
	display: block;
	position: absolute;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	font-family: "微软雅黑";
	font-weight: 700;
	font-size: 16px;
	color: #f4b400;	
}

#view_browse_comb #footer #waggle_list #close {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 8px;
	color: #333333;
	text-align: center;
}

#view_browse_comb #gallery {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

#view_browse_comb #gallery #card_list {
	display: block;
	position: absolute;
	height: 100%;
	width: 1000%;
	top: 0px;
	left: 0px;
}

#view_browse_comb #gallery #card_list.moving {
	transition: ease;
	-moz-transition: ease;
	-webkit-transition: ease;
}

#view_browse_comb #gallery #card_list.floating {
	transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

#view_browse_comb #gallery #card_list .image_card {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 10%;
}

#view_browse_comb #gallery #card_list .video_card {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 10%;
}

#view_share #btn_finish {
	position: absolute;
    right: 5px;
    top: 10px;
    display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-width: 0;
    font-family: "微软雅黑";
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#view_share #footer {
	position: absolute;
	width: 100%;
	min-width: 300px;
	height: 70px;
	background: #333333;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.7);
	z-index: 2;
}

#view_share #footer.in {
	opacity: 0.7;
	top: 100%;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

#view_share #footer.out {
	opacity: 0.1;
	top: 100%;
}

#view_share #footer #textarea_note {
	display: block;
	position: absolute;
	left: 10px;
	top: 5px;
	right: 10px;
	bottom: 5px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#view_share #footer #textarea_note.hint {
	font-family: "微软雅黑";
    font-weight: 700;
    font-size: 24px;
    color: #e7e6dd;
}

#view_share #footer #textarea_note.edit {
	font-family: "微软雅黑";
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

#view_share .image_card {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}

#view_share .video_card {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}