
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/gotaobao.css') }}" />
        <script src="{{ static_url('js/gotaobao.js') }}"></script>
    </head>
    <body onload="init()">
        <div id="div_body">
            <iframe frameborder="0" height="100%" width="100%" src="{{ url }}">
            </iframe>
        </div>
    </body>
</html>
