<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
                <meta charset="utf-8">
                <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
                <link rel="stylesheet" type="text/css" href="{{ static_url('css/test.css') }}" />
                <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
                <script src="{{ static_url('js/view_group.js') }}"></script>
                <script src="{{ static_url('js/note_canvas.js') }}"></script>
                <script src="{{ static_url('js/test.js') }}"></script>
  </head>
  <body onload="init()">
       <div id="view_read" class="view" data-title="VEROMODA 西城广场店">
<div id="div_debug" style="display: none; position: absolute; width: 200px; height: 60px; background: #E66000; z-index: 100;"></div>
            <input type="file" id="input_files" multiple accept="image/*"/>
                <a href="#" id="a_add_share"></a>
                <button id="btn_open_linkers" type="submit">
                </button>
                <div id="div_linkers">
<div class="div_linker">
                                <button type="submit" data-url="" style="background-image: url({{ static_url('img/taobao.png') }});">       
                                </button>
                                <div id="title">
                                        去淘宝
                                </div>
                        </div>
                        <div class="div_linker">
                                <button type="submit" data-url="" style="background-image: url({{ static_url('img/call1.jpg') }});">       
                                </button>
                                <div id="title">
                                        免费电话
                                </div>
                        </div>
                        <div class="div_linker">
                                <button type="submit" data-url="" style="background-image: url({{ static_url('img/express1.png') }});">       
                                </button>
                                <div id="title">
                                        同城快递
                                </div>
                        </div>                
</div>
<div id="div_gallary">
                        <div id="div_page_list">
                                <div class="div_page">
                                        <canvas class="canvas_page" data-img="{{ static_url('img/page1.jpg') }}">
                                        </canvas>
<div class="div_note" data-type="text" data-x="0.5" data-y="0.6" data-data="我在西城广场">                                        
</div>
                                </div>
                                <div class="div_page">
                                        <canvas class="canvas_page" data-img="{{ static_url('img/page2.jpg') }}">
                                        </canvas>
<div class="div_note" data-type="text" data-x="0.8" data-y="0.2" data-data="jack do you still love me">
                    </div>
                                </div>
                                <div class="div_page">
                                        <canvas class="canvas_page" data-img="{{ static_url('img/page3.jpg') }}">
                                        </canvas>
                                </div>
                                <div class="div_page">
                                        <canvas class="canvas_page" data-img="{{ static_url('img/page4.jpg') }}">
                                        </canvas>
                                </div>
                                <div class="div_page">
                                        <canvas class="canvas_page" data-img="{{ static_url('img/page5.jpg') }}">
                                        </canvas>
                                </div>
                        </div>
                </div>
        </div> 
    <div id="view_share" class="view" data-title="进行分享">
        <div id="div_selected_page">
            <canvas id="canvas_page"></canvas>
        </div>
        <div id="div_note_tools">
            <button id="btn_note_text" type="submit"></button>
            <button id="btn_note_audio" type="submit"></button>
        </div>
        <button id="btn_ok" type="submit"></button>
        <div id="frame_note_text">
            <div id="title">你想写点什么</div>
            <textarea id="textarea_note"></textarea>
            <button id="btn_finish_note_text">完成</button>
        </div>
        <div id="frame_note_audio">
            <button id="btn_finish_note_audio">完成</button>
        </div>
        <div id="div_click_animate"></div>
    </div>
   
  </body>
</html>
