
#card_list {
	padding: 5px;
}

.text_card {
	width: 100%;
	min-height: 40px;
	height: auto;
	padding: 5px;
	font-size: 18px;
	background: #e7e6dd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
