
* {
	-webkit-tap-highlight-color: transparent;
}

body, div, form, h1, h2, h3, h4, h5, h6, html, input, li, ol, p, ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f4f4f4;
	font-family: "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #2f7c2f;
	-webkit-transition: color .3s ease-out;
}

.clearfix:after, .clearfix:before {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.fab_button {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 0;
	right: 5%;
	bottom: 5%;
	background-image: url(../img/plus.png);
	background-color: transparent;
	background-size: cover;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab_button.pressed {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.vertical_list {
	margin-top: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.vertical_list .item {
	float: left;
	width: 96%;
	margin: 0 2% 2%;
	position: relative;
	box-shadow: 0 1px 2px #d6d6d6;
	border-bottom: 1px solid #d4d4d4;
	min-height: 48px;
	background: #fff;
	overflow: hidden;
}

.vertical_list .item .avatar {
	float: left;
	width: 68px;
	margin: 15px 10px;
}

.vertical_list .item .desc {
	margin: 15px 0 25px 88px;
}

.vertical_list .item .desc .primary_text {
	display: block;
	height: 1.125em;
	line-height: 1;
	margin-top: 3px;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 1em;
}

.vertical_list .item .desc .secondary_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
}

.vertical_list .item .desc .secondary_text span {
	vertical-align: middle;
	color: #ccc;
	font-size: .75em;
}

.vertical_list .item .action {
	letter-spacing: 1px;
	font-size: .875em;
	position: absolute;
	top: 12px;
	right: 10px;
	text-align: center;
	width: 64px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	background: #4cc9b6;
}

#refresh {
	display: block;
	position: absolute;
	width: 100%;
	height: 200px;
}
