
.fab_button {
	display: block;
	position: absolute;
	width: 54px;
	height: 54px;
	z-index: 0;
	left: 5%;
	bottom: 100px;
	background-image: url(../img/go.png);
	background-color: transparent;
	background-size: cover;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab_button.pressed {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}