.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: transparent;
	color: #e66000;
	font-size: 0;
	z-index: 90;
}

.footer .action {
	display: inline-block;
	position: relative;
	font-size: 18px;
	width: 33.33%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	background: transparent;
}

.status_bar {
	position: absolute;
	top: 5px;
	right: 10px;
	height: 40px;
	background: transparent;
	color: #e66000;
	font-size: 0;
	z-index: 90;
}

.status_bar .status {
	list-style: none;
	width: 40px;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
