<!DOCTYPE html>
<html>
  <head>
	
    <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
    </script>

    <!-- 2. Use an HTML Import to bring in some elements. -->
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
	<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
	<link rel="import" href="bower_components/paper-toolbar/paper-icon-item.html">
	<link rel="import" href="bower_components/paper-toolbar/paper-item-body.html">
	<link rel="import" href="bower_components/paper-toolbar/iron-icon.html">
	
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/common.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/list.css') }}" />
	
  </head>
  <body>
    <!-- 3. Declare the element. Configure using its attributes. -->
	<paper-toolbar>
		<paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button>
		<div class="title">Title</div>
		<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>
	</paper-toolbar>
	<div class="comb_list">
		<paper-icon-item role="listitem" class="x-scope paper-icon-item-0">
			<div id="contentIcon" class="content-icon layout horizontal center style-scope paper-icon-item">
				<div class="avatar blue" item-icon=""></div>
			</div>
			<paper-item-body two-line class="x-scope paper-item-body-0">
				<div>Show your status</div>
				<div secondary>Your status is visible to everyone</div>
			</paper-item-body>
			<iron-icon icon="star" class="x-scope iron-icon-0"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" class="style-scope iron-icon"></path></g></svg>
				<iron-meta id="meta" type="iconset" class="style-scope iron-icon"></iron-meta>
			</iron-icon>
		</paper-icon-item>
	</div>
    

    <script>
      // To ensure that elements are ready on polyfilled browsers, 
      // wait for WebComponentsReady. 
      document.addEventListener('WebComponentsReady', function() {
        var input = document.querySelector('paper-input');
        var button = document.querySelector('paper-button');
        var greeting = document.getElementById("greeting");
        button.addEventListener('click', function() {
          greeting.textContent = 'Hello, ' + input.value;
        });
      });
    </script>
  </body>
</html>